@font-face {
    font-family: 'Product sans';
    src: url('../fonts/Product-sans.eot');
    src: url('../fonts/Product-sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Product-sans.woff') format('woff'),
         url('../fonts/Product-sans.ttf') format('truetype'),
         url('../fonts/Product-sans.svg#Product-sans') format('svg');
    font-weight: normal;
    font-style: normal;
}
