@mixin wrapper($width, $gap) {
    &--#{$width} {
      max-width: calc(#{$width}px + (#{$gap} * 2 * 1%));
    }
  }
  
  @mixin below($width) {
    @media (max-width: $width) {
      @content;
    }
  }
  
  @mixin above($width) {
    @media (min-width: $width) {
      @content;
    }
  }
  
  @mixin time($time, $total) {
    $count: .1;
  
    @for $i from 1 through $total {
      $count: $count + $time;
  
      &-#{$i} {
        transition-delay: $count + s;
      }
    }
  }