// Colors
$color-primary:     #2E307B;
$color-secondary:   #09949F;

$gray:              #f4f4f4;
$white:             #FFFFFF;
$black:             #20212D;
$yellow:            #C7A722;
$green:             #4AACB3;



// Objects
$text-color:          #787878;
$link-color:          $color-primary;
$link-hover-color:    darken($color-primary, 10%);

$btn-color-primary:   $color-secondary;



// Typography
$font-primary:        'Poppins', sans-serif;
$font-secondary:      'Montserrat', sans-serif;



// Behaviour
$transition-default:     all .2s ease-out;
$transition-animations:  all .7s ease-out;



// Breakpoints
$xs-max:  767px;
$sm:      768px;
$sm-max:  1023px;
$md:      1024px;
$md-max:  1199px;
$lg:      1366px;
