.c-clients {
    &__item {
        display: flex;
        justify-content: center;

        img {
            filter: grayscale(100%);
        }

        &:hover {
            img {
                filter: grayscale(0);
            }
        }
    }

    &__testimonial {
        p {
            position: relative;
            font-size: 15.5px;

            &::before {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="46.232" height="33.401" viewBox="0 0 46.232 33.401"><g id="Grupo_2204" data-name="Grupo 2204" opacity="0.5"><path id="Caminho_872" data-name="Caminho 872" d="M103.169,102.175H95.746a1.174,1.174,0,0,1-1.169-1.2c.034-3.493,2.309-5.964,5.783-8.215h0a.54.54,0,0,0,.251-.437V90.232a.594.594,0,0,0-.845-.491L93.717,92.2c-3.97,1.621-6.755,5.1-6.918,9.055V118.6a4.471,4.471,0,0,0,4.422,4.485h11.948a4.471,4.471,0,0,0,4.471-4.471V106.647a4.471,4.471,0,0,0-4.471-4.471Z" transform="translate(-86.799 -89.684)" fill="%23d1b7a5"/><path id="Caminho_873" data-name="Caminho 873" d="M392.423,102.2H385a1.169,1.169,0,0,1-1.165-1.2c.029-3.493,2.3-5.964,5.778-8.215h0a.526.526,0,0,0,.251-.437V90.254a.594.594,0,0,0-.84-.491l-6.053,2.457a10.567,10.567,0,0,0-6.932,9.055v17.348a4.471,4.471,0,0,0,4.471,4.471h11.914a4.471,4.471,0,0,0,4.471-4.471V106.669a4.471,4.471,0,0,0-4.471-4.471Z" transform="translate(-350.662 -89.707)" fill="%23d1b7a5"/></g></svg>');
            }

            &::after {
                content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="46.233" height="33.401" viewBox="0 0 46.233 33.401"><g id="Grupo_2205" data-name="Grupo 2205" transform="translate(0)" opacity="0.5"><path id="Caminho_872" data-name="Caminho 872" d="M91.27,110.595h7.423a1.174,1.174,0,0,1,1.169,1.2c-.034,3.493-2.309,5.964-5.783,8.215h0a.54.54,0,0,0-.251.437v2.093a.594.594,0,0,0,.845.491l6.048-2.457c3.97-1.621,6.756-5.1,6.918-9.055V94.17a4.471,4.471,0,0,0-4.422-4.485H91.27A4.471,4.471,0,0,0,86.8,94.155v11.969a4.471,4.471,0,0,0,4.471,4.471Z" transform="translate(-61.408 -89.684)" fill="%23d1b7a5"/><path id="Caminho_873" data-name="Caminho 873" d="M380.509,110.6h7.424a1.169,1.169,0,0,1,1.165,1.2c-.029,3.493-2.3,5.964-5.778,8.215h0a.526.526,0,0,0-.251.437v2.093a.594.594,0,0,0,.84.491l6.053-2.457a10.567,10.567,0,0,0,6.932-9.055V94.179a4.471,4.471,0,0,0-4.471-4.471H380.509a4.471,4.471,0,0,0-4.471,4.471v11.954a4.471,4.471,0,0,0,4.471,4.471Z" transform="translate(-376.038 -89.694)" fill="%23d1b7a5"/></g></svg>');
                position: absolute;
                margin-top: 4px;
            }
        }
    }
}