.c-header {
  background-color: $black;
  position: sticky;
  top: 0;
  transition: $transition-default;
  z-index: 999;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    margin: .75em 0;
    transition: $transition-default;

    .is-active-header & {
      margin: .5em 0;
    }
    
    a {
      display: inline-block;
    }
    
    svg {
      transition: $transition-default;

      .is-active-header & {
        width: 154px;
        height: auto;
      }
    }
  }  
}