.c-menu {
    display: flex;
    align-items: center;
    
    &__hamburguer {
        width: 25px;
        height: 21px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        position: relative;
        z-index: 999;

        @include above($md) {
            display: none;
        }

        span {
            width: 100%;
            height: 3px;
            background-color: $black;
            display: block;
            transition: all .5s ease-out;

            .is-active-menu & {
                background-color: $white;
            }

            &:nth-child(1) {
                .is-active-menu & {
                    opacity: 0;
                    transform: translateY(-5px);
                }
            }

            &:nth-child(2) {
                .is-active-menu & {
                    transform: rotate(-40deg) translate(0);
                }
            }

            &:nth-child(3) {
                .is-active-menu & {
                    transform: rotate(40deg) translate(-5px,-7px);
                }
            }
        }
    }

    &__container {
        @include below($sm-max) {
            width: 320px;
            height: 100vh;
            overflow: auto;
            background-color: $color-primary;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 99;
            transition: all .5s ease-out;
        }

        .is-active-menu & {
            right: 0;
        }
    }

    &__list {
        list-style: none;
        margin-bottom: 0;
        margin-top: 87px;

        @include above($md) {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }

    &__item {
        position: relative;    
        transition: $transition-default;
        
        @include above($md) {
            display: inline-flex;
            margin: 0 1em;
            padding: 37px 0;          
        }

        @include below($md-max) {
            padding: 29px 0;
        }

        @include below($sm-max) {
            padding: 0;
        }

        &--arrow {
            align-items: center;

            &::after {
                content: '';
                width: 8px;
                height: 10px;
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7.582" height="4.333" viewBox="0 0 7.582 4.333"><path d="M4.117,28.447,1.256,25.432a.71.71,0,0,0-1.041,0,.8.8,0,0,0,0,1.1L2.556,29,.215,31.463a.8.8,0,0,0,0,1.1.71.71,0,0,0,1.041,0l2.861-3.016A.8.8,0,0,0,4.117,28.447Z" transform="translate(32.786 0.001) rotate(90)" fill="%2309949f"/></svg>');
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 5px;
                transition: $transition-default;

                @include below($sm-max) {
                    display: none;
                }
            }

            @include above($md) {
                &::before {
                    content: '';
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    border-left: 20px solid transparent;
                    border-right: 20px solid transparent;
                    border-bottom: 13px solid transparent;
                    transition: all .5s ease-out;
                }
            }
            
            &:hover {
                &::after {
                    transform: rotate(180deg);
                }

                @include above($md) {
                    &::before {
                        border-bottom-color: $color-secondary;
                    }
                }
            }
        }

        .sub-menu & {
            @include above($md) {
                padding: 0;
                margin: 0;
                margin-bottom: .5em;
                text-align: center;
            }

            .is-active-header & {
                padding: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:last-child {
            a {
                @include below($sm-max) {
                    margin-bottom: 0;
                }
            }
        }

        .is-active-header & {
            @include above($md) {
                padding: 28px 0;
            }

            @include below($md-max) {
                padding: 17px 0;
            }

            @include below($sm-max) {
                padding: 0;
            }
        }
        
        &:hover {
            .sub-menu {
                @include above($md) {
                    height: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }

    a {
        color: $black;
        padding-bottom: 4px;
        position: relative;
        
        @include below($sm-max) {
            color: $white;
        }
        
        @include below($sm-max) {
            margin: 0 20px;
            margin-bottom: 5px;
            display: inline-block;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: $yellow;
            transform: scale(0);
            transition: .3s ease-out;
        }

        &:hover {
            color: $green;
        }
    }

    .sub-menu {
        list-style: none;
        background-color: $color-secondary;
        box-sizing: border-box;
        border-radius: 0 0 10px 10px;
        margin-bottom: 10px;
        
        @include below($sm-max) {
            padding: 10px 20px;
        }

        @include above($md) {
            margin: 0;
            position: absolute;
            z-index: 999;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            overflow: hidden;
            height: 0;
            padding-left: 20px;
            padding-right: 20px;
            transition: all .5s ease-out;          
        }
        
        a {
            color: $white;

            &:hover {
                color: $yellow;
            }
        }
    }

}

.c-menu-footer {
    &__list {
        margin: 0;
        list-style: none;
        display: flex;
    }

    &__item {
        padding: 0 79px;
        position: relative;

        @include below($lg) {
            padding: 0 49px;
        }

        @include below($md-max) {
            padding: 0 19px;
        }

        @include below($sm-max) {
            padding: 0 49px;
        }

        @include below($xs-max) {
            padding: 0 20px;
        }

        &:first-child {
            padding-left: 0;
        }
        
        &.js-no-action {
            > a {
                font-weight: bold;
                padding-bottom: 5px;
                position: relative;
                cursor: text;

                &::before {
                    content: '';
                    width: 45px;
                    height: 2px;
                    border-radius: 5px;
                    background-color: $color-secondary;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            @include below($xs-max) {
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

            &::after {
                content: '';
                width: 2px;
                height: 100%;
                border-radius: 5px;
                background-color: rgba($white, .2);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    a {
        color: $white;
    }

    .sub-menu {
        list-style: none;
        margin: 0;
        margin-top: 10px;

        > li {
            padding: 0;
            border: none;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.c-menu-redes {
    padding-left: 79px;

    @include below($lg) {
        padding-left: 49px;
    }

    @include below($md-max) {
        padding-left: 19px;
    }

    @include below($sm-max) {
        padding-left: 49px;
    }

    @include below($xs-max) {
        padding-left: 0;
        margin-top: 50px;
    }

    &__list {
        display: flex;
        list-style: none;
        margin-top: 10px;
        margin-bottom: 0;
    }

    &__ico {
        margin-right: 23px;

        @include below($md-max) {
            margin-right: 13px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: $white;

        &:hover {
            color: $color-secondary;
        }
    }

    &__ttl {
        position: relative;
        padding-bottom: 5px;
        margin: 0;

        &::before {
            content: '';
            width: 45px;
            height: 2px;
            border-radius: 5px;
            background-color: $color-secondary;
            position: absolute;
            bottom: 0;
            left: 0;
        }        
    }
}

.current-menu-parent >,
.current-menu-item {
    a {
        &,
        &:hover {
            color: $yellow !important;
        } 

        &::after {
            transform: scale(1);
        }
    }
}

.current-menu-parent {
    &.c-menu__item--arrow::after {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="7.582" height="4.333" viewBox="0 0 7.582 4.333"><path d="M4.117,28.447,1.256,25.432a.71.71,0,0,0-1.041,0,.8.8,0,0,0,0,1.1L2.556,29,.215,31.463a.8.8,0,0,0,0,1.1.71.71,0,0,0,1.041,0l2.861-3.016A.8.8,0,0,0,4.117,28.447Z" transform="translate(32.786 0.001) rotate(90)" fill="%23C7A722"/></svg>');
    }
}