.c-video {
    width: 100%;
    padding-bottom: 56%;
    background-size: cover;
    height: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: $transition-default;

    &:hover {
        .c-video__svg {
            transform: scale(1.2) translate(-50%, -50%);
        }
    }

    &__container {
        position: relative;
        margin-top: clamp(50px, 9vw, 100px);

        &::after {
            content: '';
            width: 100%;
            height: 160px;
            background-color: $color-primary;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &--secondary {
            position: relative;
            padding-bottom: 100px;
            margin-top: clamp(50px, 9vw, 100px);

            &::after {
                content: '';
                width: 100%;
                height: 393px;
                background-color: $green;
                position: absolute;
                left: 0;
                bottom: 0;

                @include below($sm-max) {
                    height: 243px;
                }

                @include below($xs-max) {
                    height: 190px;
                }
            }
        }
    }

    &__svg {
        width: 56px; 
        height: 65px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);
        transition: $transition-default;
    }

    &__player {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
    }

    &.is-playing {
        .c-video__player {
            z-index: 3;
            width: 100%;
            height: 100%;
        }
    }
}