.o-grid {
    display: grid;

    &__col {
        &-2 {
            grid-template-columns: repeat(1, 1fr);
            
            @include above($md) {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &-3 {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__gap {
        &-60 {
            grid-gap: clamp(30px, 5vw, 60px);
        }
    }
}